.container{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    position: sticky;
    top: 0px;
}
.hello{
    background-color: aqua;
    width: 50%;
    height: 50%;
    position: sticky;
    top: 0px;
}